In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as mse

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import load_model

In [2]:
train_input = pd.read_csv("../dataset/outputs/train_complete.csv", 
                          parse_dates = True, index_col = "date")

In [3]:
train_input.head()

,Month sin,Month cos,0_store_item_counts,1_store_item_counts,2_store_item_counts,3_store_item_counts,4_store_item_counts,5_store_item_counts,6_store_item_counts,7_store_item_counts,...,0_total_units,1_total_units,2_total_units,3_total_units,4_total_units,5_total_units,6_total_units,7_total_units,8_total_units,9_total_units
date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.818589,-0.574379,5131,0,5,2,0,8,0,96,...,23300.0,0.0,149.0,59.0,0.0,318.0,0.0,1175.0,72.0,106405.0
2013-02-28,0.993664,-0.112389,4953,0,5,1,0,8,0,96,...,23869.0,0.0,159.0,6.0,0.0,230.0,0.0,1047.0,0.0,102779.0
2013-03-31,0.972950,-0.231014,5176,0,5,1,0,8,0,95,...,29858.0,0.0,211.0,4.0,0.0,239.0,0.0,1229.0,0.0,115601.0
2013-04-30,0.989209,-0.146513,4509,2,9,2,0,9,8,90,...,18250.0,12.0,239.0,3.0,0.0,182.0,112.0,980.0,23.0,87389.0
2013-05-31,0.964426,-0.264354,4846,2,17,2,3,14,12,86,...,18529.0,587.0,990.0,34.0,214.0,371.0,1043.0,1072.0,796.0,83334.0

In [4]:
[(i,j) for i,j in enumerate(train_input.columns)]

[(0, 'Month sin'),
 (1, 'Month cos'),
 (2, '0_store_item_counts'),
 (3, '1_store_item_counts'),
 (4, '2_store_item_counts'),
 (5, '3_store_item_counts'),
 (6, '4_store_item_counts'),
 (7, '5_store_item_counts'),
 (8, '6_store_item_counts'),
 (9, '7_store_item_counts'),
 (10, '8_store_item_counts'),
 (11, '9_store_item_counts'),
 (12, '0_total_units'),
 (13, '1_total_units'),
 (14, '2_total_units'),
 (15, '3_total_units'),
 (16, '4_total_units'),
 (17, '5_total_units'),
 (18, '6_total_units'),
 (19, '7_total_units'),
 (20, '8_total_units'),
 (21, '9_total_units')]

In [13]:
def sequence_generator(df, window_size):
    df_as_np = df.to_numpy()
    X = []
    y = []
    for i in range(len(df_as_np)-window_size):
        row = [r for r in df_as_np[i:i+window_size]]
        X.append(row)
        label = [df_as_np[i+window_size][12:]]
        y.append(label)
    return np.array(X), np.array(y)

In [14]:
X, y = sequence_generator(train_input,window_size = 3)
X.shape, y.shape

((31, 3, 22), (31, 1, 10))

In [18]:
X_train, y_train = X[:26], y[:26]
X_val, y_val = X[26:], y[26:]

X_train.shape, y_train.shape, X_val.shape, y_val.shape

((26, 3, 22), (26, 1, 10), (5, 3, 22), (5, 1, 10))

In [33]:
# ss = StandardScaler()
# X_train_sc = ss.fit_transform(X_train)
# y_train_sc = ss.transform(y_train)
# X_val_sc = ss.transform(X_val)
# y_val_sc = ss.transform(y_val)

ss = {}
ss2 = {}
X_train_sc = X_train.copy()
X_val_sc = X_val.copy()
y_train_sc = y_train.copy()
y_val_sc = y_val.copy()

for i in range(X_train.shape[1]):
    ss[i] = StandardScaler()
    X_train_sc[:, i, :] = ss[i].fit_transform(X_train[:, i, :]) 

for i in range(X_val.shape[1]):
    X_val_sc[:, i, :] = ss[i].transform(X_val[:, i, :])
    
for i in range(y_train.shape[1]):
    ss2[i] = StandardScaler()
    y_train_sc[:, i, :] = ss2[i].fit_transform(y_train[:, i, :]) 

for i in range(y_val.shape[1]):
    y_val_sc[:, i, :] = ss2[i].transform(y_val[:, i, :])

In [ ]:
model1 = Sequential()
model1.add(InputLayer((3, 22)))
model1.add(LSTM(64))
model1.add(Dense(8, 'relu'))
model1.add(Dense(10, 'linear'))

model1.summary()

In [ ]:
cp1 = ModelCheckpoint('model1/', save_best_only=True)
model1.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.001), metrics=[RootMeanSquaredError()])

In [ ]:
history1 = model1.fit(X_train_sc, y_train_sc, validation_data=(X_val_sc, y_val_sc), epochs=150, callbacks=[cp1])

In [ ]:
plt.plot(history1.history['loss'], label='Train loss')
plt.plot(history1.history['val_loss'], label='Test loss')
plt.legend();

In [36]:
[f"p{a}" for a in range(10)]

['p0', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8', 'p9']

In [37]:
[(i,j) for i,j in enumerate(train_input.columns)]

[(0, 'Month sin'),
 (1, 'Month cos'),
 (2, '0_store_item_counts'),
 (3, '1_store_item_counts'),
 (4, '2_store_item_counts'),
 (5, '3_store_item_counts'),
 (6, '4_store_item_counts'),
 (7, '5_store_item_counts'),
 (8, '6_store_item_counts'),
 (9, '7_store_item_counts'),
 (10, '8_store_item_counts'),
 (11, '9_store_item_counts'),
 (12, '0_total_units'),
 (13, '1_total_units'),
 (14, '2_total_units'),
 (15, '3_total_units'),
 (16, '4_total_units'),
 (17, '5_total_units'),
 (18, '6_total_units'),
 (19, '7_total_units'),
 (20, '8_total_units'),
 (21, '9_total_units')]

In [ ]:
def plot_predictions(model, X, y):
    predictions = model.predict(X)
    preds_by_cluster = [f"p{a}" for a in range(10)]
    actuals_by_cluster = 
    preds_dict = {}
    for i in range(10):
        preds_dict[preds_by_cluster[i]] = predictions[:,i]
    for i in range(10):
        preds_by_cluster[i] = predictions
    p_preds, temp_preds = predictions[:, 0], predictions[:, 1]
    
    p_actuals, temp_actuals = y[:, 0], y[:, 1]
    df = pd.DataFrame(data={'Temperature Predictions': temp_preds,
                          'Temperature Actuals':temp_actuals,
                          'Pressure Predictions': p_preds,
                          'Pressure Actuals': p_actuals
                          })
    plt.plot(df['Temperature Predictions'][start:end])
    plt.plot(df['Temperature Actuals'][start:end])
    plt.plot(df['Pressure Predictions'][start:end])
    plt.plot(df['Pressure Actuals'][start:end])
    return df[start:end]

In [41]:
preds_by_cluster = [f"p{a}" for a in range(10)]
preds_dict = {}
for i in range(10):
    preds_dict[preds_by_cluster[i]] = predictions[:,i]

In [44]:
results_dict = {}
for i in range(10):
    results_dict[f"{i}"]["actuals"] = i*10
    results_dict[f"{i}"]["preds"] = i*20

KeyError: '0'

In [50]:
results_dict = {}
results_dict["Actuals"] = {}
results_dict["Preds"] = {}
for i in range(10):
    results_dict["Actuals"][i] = y[:, i]
    results_dict["Preds"][i] = predictions[:, i]

In [51]:
new_df = pd.DataFrame.from_dict(results_dict)
new_df

    Actuals  Preds
c1       10     20
c2       20     40
c3       30     60

In [ ]:
train_predictions = model1.predict(X_train).flatten()
train_results = pd.DataFrame(data={'Train Predictions':train_predictions, 'Actuals':y_train.flatten()})
plt.plot(train_results['Train Predictions'])
plt.plot(train_results['Actuals'])

In [48]:
results_dict

{'Actuals': {'1': 10, '2': 20, '3': 30}, 'Preds': {'1': 20, '2': 40, '3': 60}}